* {
    box-sizing: border-box;
  }
* .yap {
    width: 100%;
}
#yas {margin: 5px; 
  border: 1px; 
  padding: 5px; 
  height: 150px;  
}
.yat {
  border: 5px;
  background-color: aqua;
  position: relative;
}
h1 {
  text-align: center;
}
p {
     padding: 10px;
    border: 3px solid black;
    width: 20%;
    height: 25px;
    margin-top: 0em;
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: content-box;
    font-size: 200%;
    text-align: center;
}
#p1 {
    background-color: bisque; 
    float: right;
    color: blue;
    position: absolute;
    top: 0px;
    right: 0px;

}
#p2 {
    background-color: brown;
    float: right;
    color: aliceblue;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: x-small;
}
#p3 {
    background-color:orangered; 
    float: right;
    color:black;
    position: absolute;
    right: 0px;
    top: 0px;
}
@media (min-width: 992px) {
  .div-lg-1, .div-lg-2, .div-lg-3
  {float: left;
    border: 10px solid green;
    background-color: aqua;
    position: relative;
  }
  .div-lg-1 {
    width: 33.33%;
  }
  .div-lg-2 {
    width: 66.66%;
  }
  .div-lg-3 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
.div-md-1, .div-md-2, .div-md-3
{
    float: left;
border: 10px solid green;
background-color: gray;
position: relative;
margin: auto;
}
.div-md-1 {
width: 33.33%;
}
.div-md-2 {
width: 66.66%;
}
.div-md-3 {
width: 100%;
}
}
@media (max-width: 767) {
    .div-sm-1,.div-sm-2.div-sm-1
    {
        float: left;
    border: 10px solid green;
    background-color: gray;
    position: relative;
  }
  .div-md-1 {
    width: 33.33%;
  }
  .div-md-2 {
    width: 66.66%;
  }
  .div-md-3 {
    width: 100%;
  }
}



