* {
    box-sizing: border-box;
  }
* .yap {
    width: 100%;
}
#yas {margin: 5px; 
  border: 1px; 
  padding: 5px; 
  height: 150px;  
}
.yat {
  border: 5px;
  background-color: aqua;
  position: relative;
}
h1 {
  text-align: center;
}
p {
     padding: 10px;
    border: 3px solid black;
    width: 20%;
    height: 25px;
    margin-top: 0em;
    margin-left: auto;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: content-box;
    font-size: 200%;
    text-align: center;
}
#p1 {
    background-color: bisque; 
    float: right;
    color: blue;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: large;
}
#p2 {
    background-color: brown;
    float: right;
    color: aliceblue;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: large;
}
#p3 {
    background-color:orangered; 
    float: right;
    color:black;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: large;
}

  @media (min-width: 992px) {
    .ds
    {float: left;
      border: 10px solid green;
      background-color: aqua;
      position: relative;
    }
    .ds {
      width: 33.33%;
    }
  }  
@media (max-width: 767px) {
  .mb {
  float: left;
  border: 10px solid green;
  background-color:blueviolet;
  position: relative;
  margin: 10px;
}
.mb {
  width: 100%
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .tb
  {
      float: left;
  border: 10px solid green;
  background-color: gray;
  position: relative;
  margin: auto;
  }
  .tb {
  width: 50%;
  }
}